gcx-converter/Other Agents Platform Template/dreamlist_step3_chatbot.yml
app:
  description: 与用户交互修改意见的ChatBot
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: dreamlist_step3_chatbot
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/anthropic:0.0.14@6a3e63f686a51d4392bfd5aec85c1f961e08c0ad76d9a85a584a306ede6300a2
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1772247189468-source-1772247165598-target
      source: '1772247189468'
      sourceHandle: source
      target: '1772247165598'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: if-else
      id: 1772247165598-source-1772247688219-target
      source: '1772247165598'
      sourceHandle: source
      target: '1772247688219'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1772247688219-true-1772246898004-target
      source: '1772247688219'
      sourceHandle: 'true'
      target: '1772246898004'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1772247688219-341d9f0d-9149-4612-bb82-f3c8c8a1a45e-17722482379190-target
      source: '1772247688219'
      sourceHandle: 341d9f0d-9149-4612-bb82-f3c8c8a1a45e
      target: '17722482379190'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: code
      id: 1737212530035-source-1773739684440-target
      source: '1737212530035'
      sourceHandle: source
      target: '1773739684440'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: parameter-extractor
      id: 1773739684440-source-1773739720004-target
      source: '1773739684440'
      sourceHandle: source
      target: '1773739720004'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: parameter-extractor
        targetType: variable-aggregator
      id: 1773739720004-source-1773739699571-target
      source: '1773739720004'
      sourceHandle: source
      target: '1773739699571'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: variable-aggregator
        targetType: iteration
      id: 1773739699571-source-1773739742144-target
      source: '1773739699571'
      sourceHandle: source
      target: '1773739742144'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: iteration
        targetType: loop
      id: 1773739742144-source-1773739749739-target
      source: '1773739742144'
      sourceHandle: source
      target: '1773739749739'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: loop
        targetType: http-request
      id: 1773739749739-source-1773739705888-target
      source: '1773739749739'
      sourceHandle: source
      target: '1773739705888'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: knowledge-retrieval
      id: 1773739705888-source-1772247189468-target
      source: '1773739705888'
      sourceHandle: source
      target: '1772247189468'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables: []
      height: 72
      id: '1737212530035'
      position:
        x: -127.04128262225026
        y: -96.53128739439646
      positionAbsolute:
        x: -127.04128262225026
        y: -96.53128739439646
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: ''
        selected: false
        title: 直接回复 2
        type: answer
        variables: []
      height: 83
      id: '1772246898004'
      position:
        x: 1104.9189754744173
        y: -61.10876871647689
      positionAbsolute:
        x: 1104.9189754744173
        y: -61.10876871647689
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: claude-3-5-sonnet-20241022
          provider: langgenius/anthropic/anthropic
        prompt_template:
        - id: fff49c00-bc1e-4d08-be8e-695d5905a415
          role: system
          text: ''
        selected: false
        title: LLM 2
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1772247165598'
      position:
        x: 492.90027579458183
        y: -10.380654400069844
      positionAbsolute:
        x: 492.90027579458183
        y: -10.380654400069844
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids: []
        multiple_retrieval_config:
          reranking_enable: false
          top_k: 4
        query_attachment_selector: []
        query_variable_selector:
        - '1737212530035'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: 知识检索
        type: knowledge-retrieval
      height: 51
      id: '1772247189468'
      position:
        x: 212.7028896294151
        y: 12.125570920275294
      positionAbsolute:
        x: 212.7028896294151
        y: 12.125570920275294
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: c31d8155-7111-43bb-af12-4b65ae365fce
            value: ''
            varType: string
            variable_selector:
            - '1772247165598'
            - text
          id: 'true'
          logical_operator: and
        - case_id: 341d9f0d-9149-4612-bb82-f3c8c8a1a45e
          conditions: []
          logical_operator: and
        selected: false
        title: 条件分支
        type: if-else
      height: 147
      id: '1772247688219'
      position:
        x: 791.3397726534646
        y: -22.28571978705152
      positionAbsolute:
        x: 791.3397726534646
        y: -22.28571978705152
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: ''
        selected: false
        title: 直接回复 2 (1)
        type: answer
        variables: []
      height: 83
      id: '17722482379190'
      position:
        x: 1104.9189754744173
        y: 77.99078525700887
      positionAbsolute:
        x: 1104.9189754744173
        y: 77.99078525700887
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: ''
        code_language: python3
        outputs: {}
        selected: false
        title: 代码执行
        type: code
        variables: []
      height: 52
      id: '1773739684440'
      position:
        x: 193.8364650878485
        y: -308.2218519811595
      positionAbsolute:
        x: 193.8364650878485
        y: -308.2218519811595
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        output_type: any
        selected: false
        title: 变量聚合器
        type: variable-aggregator
        variables: []
      height: 107
      id: '1773739699571'
      position:
        x: 492.90027579458183
        y: -206.04416559207183
      positionAbsolute:
        x: 492.90027579458183
        y: -206.04416559207183
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        headers: ''
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 请求
        type: http-request
        url: ''
        variables: []
      height: 81
      id: '1773739705888'
      position:
        x: 1435.8046290088607
        y: -230.6202544399035
      positionAbsolute:
        x: 1435.8046290088607
        y: -230.6202544399035
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: claude-3-5-sonnet-20241022
          provider: langgenius/anthropic/anthropic
        query: []
        reasoning_mode: prompt
        selected: false
        title: 参数提取器
        type: parameter-extractor
        vision:
          enabled: false
      height: 88
      id: '1773739720004'
      position:
        x: 193.8364650878485
        y: -190.8674577316422
      positionAbsolute:
        x: 193.8364650878485
        y: -190.8674577316422
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        error_handle_mode: terminated
        flatten_output: true
        is_parallel: false
        iterator_selector: []
        output_selector: []
        parallel_nums: 10
        selected: false
        start_node_id: 1773739742144start
        title: 迭代
        type: iteration
      height: 146
      id: '1773739742144'
      position:
        x: 793.5245257534169
        y: -230.6202544399035
      positionAbsolute:
        x: 793.5245257534169
        y: -230.6202544399035
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 252
      zIndex: 1
    - data:
        desc: ''
        isInIteration: true
        selected: false
        title: ''
        type: iteration-start
      draggable: false
      height: 48
      id: 1773739742144start
      parentId: '1773739742144'
      position:
        x: 24
        y: 68
      positionAbsolute:
        x: 817.5245257534169
        y: -162.6202544399035
      selectable: false
      sourcePosition: right
      targetPosition: left
      type: custom-iteration-start
      width: 44
      zIndex: 1002
    - data:
        break_conditions: []
        logical_operator: and
        loop_count: 10
        selected: false
        start_node_id: 1773739749739start
        title: 循环
        type: loop
      height: 146
      id: '1773739749739'
      position:
        x: 1099.0804013867848
        y: -235.94971738699712
      positionAbsolute:
        x: 1099.0804013867848
        y: -235.94971738699712
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 252
      zIndex: 1
    - data:
        desc: ''
        isInLoop: true
        selected: false
        title: ''
        type: loop-start
      draggable: false
      height: 48
      id: 1773739749739start
      parentId: '1773739749739'
      position:
        x: 24
        y: 68
      positionAbsolute:
        x: 1123.0804013867848
        y: -167.94971738699712
      selectable: false
      sourcePosition: right
      targetPosition: left
      type: custom-loop-start
      width: 44
      zIndex: 1002
    viewport:
      x: 97.78627044695406
      y: 422.99196514521003
      zoom: 0.569761854588425
  rag_pipeline_variables: []
